* {
  font-family: 'Roboto', sans-serif;
  padding: 0.1rem !important;
  color: #000508;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#707a8398), to(#03090e));
  background-image: linear-gradient(#707a8398, #03090e);
  padding: unset !important;
}

.bg-light {
  background-color: #3498DB !important;
}

.header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0c3658), to(#707a8398));
  background-image: linear-gradient(#0c3658, #707a8398);
  -webkit-box-shadow: 4px 4px 4px #03090e;
          box-shadow: 4px 4px 4px #03090e;
  border-radius: 3px;
}

.header .header__main-div {
  border-radius: 3px;
}

.header .header__main-div .navbar {
  border-radius: 3px;
}

.header .header__main-div .navbar .container-fluid {
  text-shadow: 1px 1px 0px #3498DB , 2px 2px 0px #ECF0F1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1f5079ca), to(#707a8398));
  background-image: linear-gradient(#1f5079ca, #707a8398);
  border-radius: 3px;
}

.nav-link {
  font-weight: bolder;
  font-size: 1.4rem;
  color: black;
}

.form-control, .btn-outline-success {
  padding: .8rem !important;
  font-size: 1rem;
  -webkit-box-shadow: 4px 4px 4px #03090e;
          box-shadow: 4px 4px 4px #03090e;
}

.dropdown-item {
  font-weight: bold;
}

.btn-outline-success {
  color: #000508;
  border-color: #03090e;
  text-shadow: 1px 1px 0px #3498DB , 2px 2px 0px #ECF0F1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3fa2e4e7), to(#c4ced6c5));
  background-image: linear-gradient(#3fa2e4e7, #c4ced6c5);
  font-weight: bolder;
}

.navbar-toggler-icon {
  background-color: #c4dbf6c4;
  border: 1.5px solid #013057bb;
  border-radius: 2px;
}

.card-container1, .card-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  text-shadow: 1px 1px 0px #3498DB , 2px 2px 0px #ECF0F1;
}

.card-container1 .card {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3fa2e4e7), to(#7d90a0ab));
  background-image: linear-gradient(#3fa2e4e7, #7d90a0ab);
  font-size: 1.1rem;
  width: 18rem;
}

.card-container1 .card img {
  height: 63%;
}

.card-container1 .card .card-body {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.card-container2 {
  font-size: 1.1rem;
}

.card-container2 .card {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3fa2e4e7), to(#7d90a0ab));
  background-image: linear-gradient(#3fa2e4e7, #7d90a0ab);
}

.container-marca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-marca .marca1 {
  font-size: 2rem;
  -webkit-transition: color 1.5s, -webkit-transform 2.5s;
  transition: color 1.5s, -webkit-transform 2.5s;
  transition: transform 2.5s, color 1.5s;
  transition: transform 2.5s, color 1.5s, -webkit-transform 2.5s;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 0;
  font-family: 'Bangers', cursive;
}

.container-marca .marca2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 0;
  margin-top: 0;
}

.container-marca .marca1:hover {
  -webkit-transform: scale(1.1, 1.6);
          transform: scale(1.1, 1.6);
  color: #d4e6f1c4 !important;
}

.navbar-nav {
  font-size: 1.3rem;
  margin-left: 1rem;
  border-left: 3px solid #2471A3;
}

.accordion-item {
  background-color: #D4E6F1;
  border-radius: 2px;
}

.accordion-item .accordion-button {
  padding: 1.5rem !important;
  font-size: 1.3rem;
  font-weight: bolder;
  background-color: #D4E6F1;
  border-radius: 2px;
}

.accordion-item .accordion-body {
  padding: 1.5rem !important;
  font-size: 1.1rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#D4E6F1), to(#2471A3));
  background-image: linear-gradient(#D4E6F1, #2471A3);
  border-radius: 2px;
}

.accordion-item .accordion-body .lista-acordion {
  margin-top: 1rem;
}

#carouselExampleCaptions {
  margin-bottom: 1.5rem;
  border-radius: 5px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

#carouselExampleCaptions .carousel-item {
  width: 100%;
  height: 100%;
  max-height: 450px;
}

#carouselExampleCaptions .carousel-item img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

#carouselExampleCaptions .carousel-item .carousel-caption {
  font-weight: bolder;
  text-shadow: 1px 1px 0px #0f2838 , 2px 2px 0px #adbcc8;
}

.form-container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.form-container1 .col-auto {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.form-container1 .col-auto .input-group-text {
  width: 1.5rem;
}

.form-container1 .col-auto .form-select {
  width: 8rem;
}

.form-container1 .col-auto .btn-primary {
  padding: 0.5rem !important;
  -webkit-box-shadow: 4px 4px 4px #03090e;
          box-shadow: 4px 4px 4px #03090e;
}

.ubicacion1 {
  text-decoration: none;
  padding: .8rem !important;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b1e2ee), to(#143850));
  background-image: linear-gradient(#b1e2ee, #143850);
  color: #03090e;
  border-radius: 2px;
  font-weight: bold;
  -webkit-box-shadow: 4px 4px 4px #03090e;
          box-shadow: 4px 4px 4px #03090e;
}

.footer {
  border-top: 2px solid #2471A3;
  text-shadow: 1px 1px 0px #3498DB , 2px 2px 0px #03090e;
  font-size: 1.2rem;
}

.footer .justify-content-end .nav-item {
  border-left: 2px solid #2471A3;
}

.footer .justify-content-end .nav-item .nav-link {
  color: #ECF0F1;
}
/*# sourceMappingURL=styles.css.map */